
.address {
    margin: 1px 0px;
    color: navy;
    text-align: center;
    font-weight: bold;
}
.top-line {
    font-size: 25px;
}

.mid-line {
    font-size: 12px;
}
.first-letter{
    font-size: 30px;
}
.inc {
    font-size: 20px;
}

.bot-line {
    margin-bottom: 20px;
}

.geico {
    text-align: center;
    margin: 0px;
    color: navy;
    font-weight: bold;
    font-size: 23px;
    font-variant: small-caps;
}

.geico-text {
    text-align: center;
    font-size: 10px;
    margin: 0px;
}

.section2, .list-one, .list-two {
    float: left;
}

.list-one, .list-two {
    width: 45%;
}

li {
    margin-bottom: 20px;
}