* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



a {
    text-decoration: none;
    color: #ff8b68;
    margin: 5px;
}

.hero-section {

    background-image: url(../img/monogram_imgs/console\ bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1em;
    padding-bottom: 15em;
    
}

header {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 10em;
    padding: 1em .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2456;
    color: #ff8b68;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left p {
    /* clamp(min, grow, max) */
    font-size: clamp(.5rem, 3vw, 1.5rem);
    margin-left: .25em;
    text-transform: uppercase;
}

.header-left i {
    font-size: clamp(2rem, 5.5vw, 3rem);
}

nav a {
    font-size: clamp(.25rem, 2vw, 1rem);
    margin-left: .5em;
    color: #ff8b68;
    text-transform: uppercase;
}

.hero {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
}

.hero h1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #ff8b68;
    text-transform: uppercase;

}

.hero p {
    width: 70%;
    margin: 1rem auto;
    text-align: center;
    color: #ff8b68;
    font-size: clamp(1.15rem, 1vw, 3rem);
}

.products {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #f0efed;
}

.product {
    width: clamp(25em, 48%, 60em);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}

.product img {
    display: inline-block;
    aspect-ratio: 1/1;
}

.item {
    margin: .5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    text-transform: uppercase;
    font-weight: bold;
}

.item-descrption {
    margin: .25em 0;
}

footer {
    background-color: #1a2456;
}

.footer-col {
    width: 50%;
    margin: .5em 0;
    color: #ff8b68;
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 700px) {

    footer {
        flex-direction: column-reverse;
    }
}

.col-container {
    padding-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #ff8b68;
    border-radius: 12px;
    width: 50%;
}

.fa-brands {
    align-items: center;
    background-color:#ff8b68;
    color: #1a2456;
    border-radius: 50%;
    display: inline-flex;
    height: 2em;
    padding: .5em;
    text-align: center;
    width: 2em;
}

h5 {
    font-weight: bold;
    margin: 5px;
}

