* {
    margin: 0;
    padding: 0;
  }
  
  
a {
    text-decoration: none;
    color: rgb(129, 129, 129);
    font-size: 1.25em;
}

.links {
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    align-items: center;
    font-size: 1.25em;
    color: rgb(129, 129, 129);

}

header p {
    margin-right: 1em;
}

header a {
    margin-right: 1em;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options-con {
    display: flex;
    flex-direction: row;

}

.header-right {
    display: flex;
    margin-right: 2rem;
    align-items: center;
}

.drop-title-feature {
    display: flex;
    font-size: 1.25em;
    color: rgb(129, 129, 129);
    background-color: none;
    border: none;
    margin-right: 2em;
}

.drop-title-feature p {
    margin-right: 1em;
}

.drop-title-company {
    display: flex;
    font-size: 1.25em;
    color: rgb(129, 129, 129);
    background-color: none;
    border: none;
    margin-right: 2em;
}

.drop-title-company p {
    margin-right: 1em;
}

.logo {
    display: flex;
    margin: 0 2rem 0 2rem;
    justify-content: center;
    align-items: center;

}

.dropdown {
    border: none;
    margin-right: 2rem;
}

.header-right button {
    border-radius: 15px;
    height: 3rem;
    width: 8em;
    color: rgb(129, 129, 129);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65rem;
    width: 80%;
    position: relative;
}

.hero-right {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;

}

.mobile-img {
    display: none;
}

.desktop-img img{
    height: 80vh;
}

.hero-left {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-right: 8rem;

}

.hero-title {
    font-size: 8rem;
    font-weight: bold;
    margin-top: 8rem;
}

.hero-txt {
    font-size: 2.5rem;
    color: grey;
    margin-top: 4rem;
    display: flex;
    width: 75%;
}

.learn-more {
    margin-top: 4rem;
}

.learn-more button {
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 1.5rem;
    width: 12.5rem;
    color: white;
    font-weight: bold;
    background-color: black;
    transition: all .2 ease .5;
    border: none;
}

.learn-more button:hover  {
    background-color: white;
    color: black;
}

.sponsors {
    margin-top: 5rem;
}

.sponsors img {
    width: 8rem;
}

.options {
    box-shadow: 10px 5px 5px rgba(116, 116, 117, 0.2);
    position: absolute;
    /* z-index: ; */
    border-radius: 10px;
    border: #e3e3e3 2px solid;
}

.feature-op {
    left: 8%;
    top: 6%;
    /* display: none; */
    transition: all .5s ease;
    /* opacity: 0; */
}

.company-op {
    left: 18%;
    top: 6%;
    /* display: none; */
    transition: all .5s ease;
    /* opacity: 0; */
}

.links img {
    margin-right: 1rem;
}

.links li {
    margin-bottom: 1.25rem;
}

.links {
    margin: 1.5rem;

}

#drop-title-feature:hover > #links {
    opacity: 1;
    transform: translateY(0);
    border: 2px solid black;
}



.hamburger-button button{
    display: none;
}

.hamburger-button i{
    display: none;
}

.hamburger-con {
    display: none;
}

.arrow-up {
    display: none;
}
  
@media (max-width: 375px){
  
    header {
        width: 100%;
        justify-content: space-between;
    }
  
    .logo {
        margin-left: 1rem;
        padding-top: .25rem;
    }
  
    .options-con{
        display: none;
    }
  
    .header-right {
        display: none;
    }

    .header-left {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

  
    .hamburger-button {
        display: block;

        border: none;
        margin-right: 1rem;
    }
  
    .hamburger-button i {
        font-size: 2rem;   
    }
  
    .hero {
        flex-direction: column-reverse;
        height: 80%;
        width: 100%;
    }   
  
    .mobile-img {
        display: block;
        height: auto;
        width: auto;
    }
  
    .desktop-img {
        display: none;
    }
  
    .mobile-img img {
        width: 23.5rem;
    }
    .hero-left {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        margin-right: 0;
    }
  
    .hero-right {
        width: auto;
    }
  
    .hero-title {
        font-size: 2rem;
        margin-top: 1rem;
        width: auto;
    }
  
    .hero-txt {
        font-size: 1rem;
        margin-top: 1rem;
    }
  
    .sponsors {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }
  
    .sponsors img {
        height: 1rem;
        width: auto;
        margin-right: 1.5rem;
    }
  
    .learn-more {
        margin-top: 1rem;
    }
  
    .learn-more button {
        font-size: 1rem;
        padding: 1rem;
        width: 10rem;
        border: none;
        border-radius: 18px;
    }
  
    .hamburger-con {
        display: none;
        flex-direction: column;
        width: 65%;
        position: absolute;
        z-index: 1;
        background-color: white;
        height: 100%;
        top: 0;
        left: 35.5%;
    }
  
    .hamburger-con a {
        margin: 1rem 0 .2rem 1rem;
    }
  
    .hamburger-bot {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
  
    .hamburger-bot a {
        margin: 1rem 0 ;
      
    }
    .arrow-up {
        display: none;
    }
  
    .drop-title-feature {
        margin: 1rem 0 1rem 1rem;
    }

    .drop-title-company {
        margin: 1rem 0 1rem 1rem;
    }
  
    .hamburger-bot button {
        width: 80%;
        padding-top: .75em;
        padding-bottom: .75em;
        margin: 0;
        border-radius: 10px;
        background: white;
        border-color: rgb(151, 150, 150);
    }
  
    .exit {
        display: flex;
        justify-content: right;
        margin-bottom: 2rem;
    }
    
    .exit button {
        background: none;
        border: none;
        font-size: 2rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
  
    .links {
        display: none;
    }

    .hamburger-links {
        list-style: none;
        margin-left: 1rem;
    }

    .hamburger-links li {
        margin-bottom: 1rem;
    }
  }