* {
    margin: 0;
    padding: 0;

}

.header_box, .footer_box {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    align-items: center;
    padding: 40px 20px;
    background-color: skyblue;
    
}

.header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.links {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 5px 0 5px;
    color: inherit;
   
    
}

.items {
    list-style: none;
    border: 1px solid transparent;
}

.items:hover {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}


.logo {
    margin-right: 20px;
    
}

/* main {
    height: 72vh;
} */

.card {
    position: absolute;
    top: 2vw;
    right: 2vw;
    height: 50px;
    width: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    position: relative;
    height: 200px;
    width: 400px;

}

.bottom {
    height: 200px;
    width: 400px;
    background-color: #fff5f5;
}

.footer_center {
    text-align: center;
    display: flex;
    flex-direction: row;
}

form {
    width: 100%;

    margin: 3em auto;

}

form input {
    margin-right: 1rem;
}

form p {
    width: 20%;
}

form label {
    display: block;
}

.full-name {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5vh;
}

.full-name input {
    margin-right: 1em;
}

.required {
    color: red;
}

.address {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.city-state {
    display: flex;
    flex-direction: row;
}

.zip-country {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.email {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.phone {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.apply {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.start-date {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.upload-res {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.take-photo {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.terms-condi {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh
}

.terms-condi label a {
    color: aqua;
    text-decoration: none;
}

.address label {
    margin-bottom: .25vh;
}

.photo input {
    width: 20em;
    height: 2em;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit input {
    width: 5em;
    height: 2em;
}
