* {
    margin: 0;
    padding: 0;

}

.header_box, .footer_box {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    align-items: center;
    padding: 40px 20px;
    background-color: skyblue;
    
}

.header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.links {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 5px 0 5px;
    color: inherit;
    font-size: 20px;
    
}

.items {
    list-style: none;
    border: 1px solid transparent;
}

.items:hover {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}


.logo {
    margin-right: 20px;
    
}


.footer_center {
    text-align: center;
    display: flex;
    flex-direction: row;
}

form {
    width: 100%;

    margin: 3em auto;

}

form input {
    margin-right: 1rem;
}

form p {
    width: 20%;
}

form label {
    display: block;
}

.full-name {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.full-name input {
    margin-right: 1em;
}

.required {
    color: red;
}

.address {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.city-state {
    display: flex;
    flex-direction: row;
}

.zip-country {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.email {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.phone {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.apply {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.start-date {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.upload-res {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.take-photo {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.terms-condi {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.terms-condi label a {
    color: aqua;
    text-decoration: none;
}

.address label {
    margin-bottom: 5px;
}

.photo input {
    width: 20em;
    height: 2em;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit input {
    width: 5em;
    height: 2em;
}

.faq-chall {
    position: relative;

}

.top {
    height: 300px;
    background-color: black;
    background-image: url(/DavidWeb/img/background-pattern-mobile.svg);
}

.bottom {
    height: 700px;
    background-color:  #f7daeb;
}

.card {
    position: absolute;
    top: 200px;
    height: 700px;
    width: 75vw;
    left: 12vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.card-title {
    display: flex;
    margin-top: 20px;
    color: #221524;
}

.card-title img {
    margin: 0 4vw;
    
}

.faq-text button {
    border: transparent;
    background: transparent;
}

.faq-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.faq-text p {
    margin-left: 5vw;
    margin-top: 25px;
    font-weight: bold;
    color: #221524;
}

.answer {
    font-size: 12px;
    margin-top: 5px;
    display: none;
    font-weight: bold;
    color: #7a697d;
}

.faq-container {
    display: flex;
    flex-direction: column;
    

}

.minus {
    display: none;
}

.hamburger-button {
    display: none;
    background-color: transparent;
    border: transparent;
}

.hamburger-con {
    display: none;
}

.hamburger-option {
    display: none;
}
@media (max-width: 1020px) { 

    .links {
        display: none;
    }


    .hamburger-button {
        display: block;
    }
    
    main {
        position: relative;
    }
 
    .hamburger-con {
        display: none;
        position: absolute;   
        z-index: 1;
        background-color: white;
        border: 4px solid black;
        width: 97.5vw;
        height: 250px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    
    }

    .hamburger-option {
        display: flex;
        font-size: 100%;
    
    }

    .hamburger-option a {
        margin-bottom: 15px;
    }

    .hamburger-button {
        font-size: 25px;
    }
}

.feature-con {
    display: flex;
}

